+m_content_section('s-admission', 'Как поступить в школу', './img/admission/cover.jpg', true)
  .s-admission__subtitle.font-m.font-medium Nursery, Reception, Year 1 — Year 11
  .s-admission__text.font-m.font-light
    ol
      li Свяжитесь с нашим специалистом по приему учащихся, чтобы задать все интересующие вопросы и получить анкету на поступление
      li Заполните анкету Application Form
      li Приезжайте на индивидуальный тур по школе
      li Запишите ребенка на психологическое и академическое тестирование
      li Предоставьте документы, необходимые для зачисления
      li Заключите договор на образовательные услуги и произведите оплату обучения.
  +button('s-admission__button', 'light-grey', 'link', 'Читать далее')
