:root {
  --color-dark-blue: #041e42;
  --color-black: #3a3a3a;
  --color-dark-gold: #c49a6c;
  --color-light-gold: #efd6ba;
  --color-grey: #acacac;
  --color-middle-grey: #e5e5e5;
  --color-light-grey: #f9f9f9;
  --color-white: #fff;
  --color-red: #CE202F;
}

:root {
  --a-padding--x1: 0.25rem;
  --a-padding--x2: 0.5rem;
  --a-padding--x3: 0.75rem;
  --a-padding--x4: 1rem;
  --a-padding--x5: 1.25rem;
  --a-padding--x6: 1.5rem;
  --a-padding--x7: 1.75rem;
  --a-padding--x8: 2rem;
  --a-padding--x9: 2.25rem;
  --a-padding--x10: 2.5rem;
  --a-padding--x11: 2.75rem;
  --a-padding--x12: 3rem;
  --a-padding--x13: 3.25rem;
  --a-padding--x14: 3.5rem;
  --a-padding--x15: 3.75rem;
  --a-padding--x16: 4rem;
  --a-padding--x17: 4.25rem;
  --a-padding--x18: 4.5rem;
  --a-padding--x19: 4.75rem;
  --a-padding--x20: 5rem;
}

:root {
  --a-borderRadius--x1: 0.25rem;
  --a-borderRadius--x2: 0.5rem;
  --a-borderRadius--x3: 0.75rem;
  --a-borderRadius--x4: 1rem;
  --a-borderRadius--x5: 1.25rem;
  --a-borderRadius--x6: 1.5rem;
  --a-borderRadius--x7: 1.75rem;
  --a-borderRadius--x8: 2rem;
  --a-borderRadius--x9: 2.25rem;
  --a-borderRadius--x10: 2.5rem;
  --a-borderRadius--x11: 2.75rem;
  --a-borderRadius--x12: 3rem;
  --a-borderRadius--x13: 3.25rem;
  --a-borderRadius--x14: 3.5rem;
  --a-borderRadius--x15: 3.75rem;
  --a-borderRadius--x16: 4rem;
  --a-borderRadius--x17: 4.25rem;
  --a-borderRadius--x18: 4.5rem;
  --a-borderRadius--x19: 4.75rem;
  --a-borderRadius--x20: 5rem;
  --a-borderRadius--x21: 5.25rem;
  --a-borderRadius--x22: 5.5rem;
  --a-borderRadius--x23: 5.75rem;
  --a-borderRadius--x24: 6rem;
  --a-borderRadius--x25: 6.25rem;
  --a-borderRadius--def: var(--a-borderRadius--x4);
}

.font-h1 {
  font-family: 'Lora';
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.font-h2 {
  font-family: 'Lora';
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.font-h3 {
  font-family: 'Lora';
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.font-h4 {
  font-family: 'Lora';
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.375rem;
}

.font-xl {
  font-family: 'Lora';
  font-size: 1rem;
  line-height: 1.25rem;
}

.font-l {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.font-m {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-s {
  font-size: 0.625rem;
  line-height: 0.875rem;
}

.font-xs {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-button {
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.font-menu {
  font-family: 'Lora';
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.font-regular {
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}

.s-page-search__wrapper {
  max-width: 73.75rem;
}

.s-page-search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.s-page-search__form-label {
  position: relative;
  width: 100%;
}

.s-page-search__form-input {
  overflow: hidden;
  width: calc(100% - 40px);
  height: 2.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border: 0;
  background-color: var(--color-white);
  outline: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.s-page-search__form-clear {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  display: none;
  color: var(--color-red);
  background: none;
  border: none;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  outline: none;
}

.s-page-search__form-clear:hover {
  opacity: 1;
}

.s-page-search__form-clear.is-show {
  display: block;
  opacity: 1;
}

.s-page-search__form-button {
  cursor: pointer;
  position: relative;
  display: -ms-grid;
  display: grid;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: 0;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  background-color: var(--color-dark-gold);
  place-items: center;
}

.s-page-search__form-button:hover {
  opacity: 0.8;
}

.s-page-search__form-button .ico {
  font-size: 1.25rem;
  fill: var(--color-white);
}

.s-page-search__not-found {
  padding: 1rem;
  color: var(--color-dark-blue);
}

.s-page-search__results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  gap: 0.75rem;
}

.m-search-card {
  cursor: pointer;
  display: block;
  padding: 1rem;
  background: var(--color-white);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.m-search-card__title {
  margin-bottom: 0.75rem;
  color: var(--color-dark-blue);
}

.m-search-card__text {
  display: -webkit-box;
  color: var(--color-black);
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
}

.m-search-card:hover {
  -webkit-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.12);
  box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .s-page-search__results {
    gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .s-page-search__form {
    margin-top: 2.5rem;
  }

  .s-page-search__form-input {
    width: 100%;
    height: 4.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .s-page-search__form-clear {
    right: 2rem;
  }

  .s-page-search__form-button {
    width: 4.5rem;
    height: 4.5rem;
  }

  .s-page-search__form-button .ico {
    font-size: 2rem;
  }

  .s-page-search__not-found {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .font-h1 {
    font-size: 4.75rem;
    font-weight: 400;
    line-height: 5.5rem;
  }

  .font-h2 {
    font-family: 'Lora';
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .font-h3 {
    font-size: 2.625rem;
    line-height: 3.25rem;
  }

  .font-h4 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
  }

  .font-xl {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }

  .font-l {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .font-m {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .font-s {
    font-size: 1rem;
    line-height: 1.375rem;
  }

  .font-button {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .font-menu {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}

@media (min-width: 1440px) {
  .s-page-search__form {
    margin-bottom: 5rem;
  }

  .s-page-search__results {
    gap: 2.5rem;
  }

  .m-search-card {
    padding: 1.75rem;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .font-h1 {
    font-size: 3rem;
    line-height: 3rem;
  }

  .font-h2 {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }

  .font-h3 {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .font-h4 {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  .font-xl {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .font-l {
    font-size: 1.3125rem;
    line-height: 1.6875rem;
  }

  .font-m {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }

  .font-s {
    font-size: 0.9375rem;
    line-height: 1.3125rem;
  }

  .font-button {
    font-size: 0.875rem;
    line-height: 1rem;
  }

  .font-menu {
    font-size: 0.875rem;
    line-height: 1rem;
  }
}

@media screen {
  .px-0 {
    padding-right: 0;
    padding-left: 0;
  }

  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pb-0 {
    padding-bottom: 0;
  }

  .pt-0 {
    padding-top: 0;
  }

  .mx-0 {
    margin-right: 0;
    margin-left: 0;
  }

  .my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .mt-0 {
    margin-top: 0;
  }

  .br-0 {
    border-radius: 0;
  }
}
/*# sourceMappingURL=maps/page_search.css.map */
