:root {
  --color-dark-blue: #041e42;
  --color-black: #3a3a3a;
  --color-dark-gold: #c49a6c;
  --color-light-gold: #efd6ba;
  --color-grey: #acacac;
  --color-middle-grey: #e5e5e5;
  --color-light-grey: #f9f9f9;
  --color-white: #fff;
  --color-red: #CE202F;
}

:root {
  --a-padding--x1: 0.25rem;
  --a-padding--x2: 0.5rem;
  --a-padding--x3: 0.75rem;
  --a-padding--x4: 1rem;
  --a-padding--x5: 1.25rem;
  --a-padding--x6: 1.5rem;
  --a-padding--x7: 1.75rem;
  --a-padding--x8: 2rem;
  --a-padding--x9: 2.25rem;
  --a-padding--x10: 2.5rem;
  --a-padding--x11: 2.75rem;
  --a-padding--x12: 3rem;
  --a-padding--x13: 3.25rem;
  --a-padding--x14: 3.5rem;
  --a-padding--x15: 3.75rem;
  --a-padding--x16: 4rem;
  --a-padding--x17: 4.25rem;
  --a-padding--x18: 4.5rem;
  --a-padding--x19: 4.75rem;
  --a-padding--x20: 5rem;
}

:root {
  --a-borderRadius--x1: 0.25rem;
  --a-borderRadius--x2: 0.5rem;
  --a-borderRadius--x3: 0.75rem;
  --a-borderRadius--x4: 1rem;
  --a-borderRadius--x5: 1.25rem;
  --a-borderRadius--x6: 1.5rem;
  --a-borderRadius--x7: 1.75rem;
  --a-borderRadius--x8: 2rem;
  --a-borderRadius--x9: 2.25rem;
  --a-borderRadius--x10: 2.5rem;
  --a-borderRadius--x11: 2.75rem;
  --a-borderRadius--x12: 3rem;
  --a-borderRadius--x13: 3.25rem;
  --a-borderRadius--x14: 3.5rem;
  --a-borderRadius--x15: 3.75rem;
  --a-borderRadius--x16: 4rem;
  --a-borderRadius--x17: 4.25rem;
  --a-borderRadius--x18: 4.5rem;
  --a-borderRadius--x19: 4.75rem;
  --a-borderRadius--x20: 5rem;
  --a-borderRadius--x21: 5.25rem;
  --a-borderRadius--x22: 5.5rem;
  --a-borderRadius--x23: 5.75rem;
  --a-borderRadius--x24: 6rem;
  --a-borderRadius--x25: 6.25rem;
  --a-borderRadius--def: var(--a-borderRadius--x4);
}

.font-h1 {
  font-family: 'Lora';
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.font-h2 {
  font-family: 'Lora';
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.font-h3 {
  font-family: 'Lora';
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.font-h4 {
  font-family: 'Lora';
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.375rem;
}

.font-xl {
  font-family: 'Lora';
  font-size: 1rem;
  line-height: 1.25rem;
}

.font-l {
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.font-m {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-s {
  font-size: 0.625rem;
  line-height: 0.875rem;
}

.font-xs {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-button {
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.font-menu {
  font-family: 'Lora';
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

.font-regular {
  font-weight: 400;
}

.font-light {
  font-weight: 300;
}

.s-campus-about__content {
  max-width: 73.75rem;
  margin: 0 auto;
}

.s-campus-about__text {
  margin: 0 auto 1.5rem;
  text-align: center;
}

.s-campus-about__video {
  position: relative;
  margin: 0 auto;
}

.s-campus-about__video-image {
  width: 100%;
  height: auto;
  max-height: 43rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.s-campus-about__video-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  border: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  background-color: transparent;
}

.s-campus-about__video-button span {
  position: relative;
  display: block;
}

.s-campus-about__video-button span:before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.9375rem;
  height: 1.5rem;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: " ";
  background-image: url("data:image/svg+xml,%3Csvg width='66' height='87' viewBox='0 0 66 87' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M66 43.5L-3.80289e-06 87L0 -2.88495e-06L66 43.5Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
}

.s-campus-about__video-button:hover {
  opacity: 0.7;
}

.s-vk-wall .m-section__title {
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.s-vk-wall .m-section__title:hover {
  color: var(--color-dark-gold);
}

.s-vk-wall__social {
  margin: 0 auto 2.5rem;
  text-align: center;
}

.s-vk-wall__social-title {
  margin-bottom: 1.125rem;
  color: var(--color-black);
}

.s-vk-wall__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1.5625rem;
}

.s-vk-wall__social-link {
  cursor: pointer;
}

.s-vk-wall__social-link svg {
  font-size: 2.3125rem;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.s-vk-wall__social-link:hover svg {
  fill: var(--color-dark-blue);
}

.s-vk-wall__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100vw + 10px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow-x: auto;
}

.s-vk-wall__item {
  overflow: hidden;
  z-index: 1;
  position: relative;
  display: block;
  width: 50%;
  min-height: unset;
  color: var(--color-white);
  -webkit-box-flex: unset;
  -ms-flex: unset;
  flex: unset;
}

.s-vk-wall__item-inner {
  z-index: 1;
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.s-vk-wall__item-inner > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.s-vk-wall__item-content {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0.625rem;
  opacity: 0;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.s-vk-wall__item:hover .s-vk-wall__item-content,
.s-vk-wall__item:focus-within .s-vk-wall__item-content {
  opacity: 1;
}

.s-vk-wall__item:hover .s-vk-wall__item-bg,
.s-vk-wall__item:focus-within .s-vk-wall__item-bg {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.s-vk-wall__item:hover .s-vk-wall__item-bg::after,
.s-vk-wall__item:focus-within .s-vk-wall__item-bg::after {
  opacity: 1;
}

.s-vk-wall__item-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5625rem;
  height: 1.5625rem;
}

.s-vk-wall__item-description {
  overflow: auto;
  display: block;
  width: 95%;
  max-height: 45%;
  padding-bottom: 1.25rem;
  font-size: 0.8125rem;
}

.s-vk-wall__item-bg {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  content: '';
  will-change: transform;
}

.s-vk-wall__item-bg::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(50, 50, 50, 0.64)), to(rgba(110, 202, 254, 0.49)));
  background: linear-gradient(180deg, rgba(50, 50, 50, 0.64) 0%, rgba(110, 202, 254, 0.49) 100%);
  opacity: 0;
  content: '';
}

.s-vk-wall__item-bg img {
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.s-greetings__subtitle {
  margin-bottom: 1.5rem;
  color: var(--color-black);
}

.s-greetings__text {
  margin-bottom: 1.5rem;
  color: var(--color-black);
}

.s-greetings__info {
  margin-bottom: 1.5rem;
}

.s-studying {
  background-color: var(--color-light-grey);
}

.s-studying__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  background-color: var(--color-white);
}

.s-studying__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.75rem;
}

.s-studying__item {
  overflow: hidden;
  position: relative;
}

.s-studying__item-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(58, 58, 58, 0.7)), to(rgba(58, 58, 58, 0.7)));
  background: linear-gradient(0deg, rgba(58, 58, 58, 0.7), rgba(58, 58, 58, 0.7));
  mix-blend-mode: multiply;
}

.s-studying__item-bg {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.s-studying__item-info {
  z-index: 2;
  position: relative;
  padding: 1rem;
  color: var(--color-white);
}

.s-studying__item-logo {
  margin-bottom: 1rem;
}

.s-studying__item-logo img {
  width: auto;
  height: 100%;
  max-width: 8.0625rem;
}

.s-studying__item-text {
  margin-bottom: 1.25rem;
}

.s-studying__item-link {
  cursor: pointer;
  position: relative;
  padding-left: 1rem;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.s-studying__item-link:hover {
  color: var(--color-dark-gold);
}

.s-studying__item-link::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.75rem;
  height: 0.0625rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  background-color: var(--color-white);
}

.s-studying__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem 1rem;
  -webkit-box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.s-studying__content-wrap h2 {
  margin: 0 0 1rem;
  font-weight: 500;
  color: var(--color-black);
  font-family: 'Lora';
  font-size: 1rem;
  line-height: 1.25rem;
}

.s-studying__content-wrap ul {
  margin: 0;
  padding-left: 1rem;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1rem;
}

.s-cost {
  background-color: var(--color-middle-grey);
}

.s-cost__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  gap: 0.75rem;
}

.s-cost__top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
}

.s-cost__card {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  background-color: var(--color-white);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 1.5rem;
}

.s-cost__card:hover {
  background-color: var(--color-dark-blue);
}

.s-cost__card:hover .s-cost__card-header {
  color: var(--color-white);
}

.s-cost__card-header {
  color: var(--color-dark-blue);
}

.s-cost__card-footer {
  color: var(--color-dark-gold);
}

.s-cost__card-title {
  margin: 0 0 0.5rem;
}

.s-cost__card-cost {
  margin-bottom: 0.75rem;
}

.s-cost__card-more {
  cursor: pointer;
  position: relative;
  padding-left: 1rem;
}

.s-cost__card-more::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.75rem;
  height: 0.0625rem;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  background-color: var(--color-dark-gold);
}

.s-cost__item {
  padding: 1rem;
  background-color: var(--color-white);
  gap: 1.5rem;
}

.s-cost__item--included {
  grid-column: 1/-1;
}

.s-cost__item--extra {
  grid-column: 1/-1;
}

.s-cost__item-title {
  margin-bottom: 1rem;
  color: var(--color-dark-blue);
}

.s-cost__item-list--two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
}

.s-cost__item-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1.5rem;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.s-cost__item-icon img {
  width: 100%;
  height: auto;
}

.s-cost__item-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color-vlack);
  gap: 0.625rem;
}

.s-cost__item-line:not(:last-child) {
  margin-bottom: 0.5rem;
}

.s-teachers__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.s-teachers__card:hover img {
  border-color: var(--color-dark-gold);
}

.s-teachers__card:hover .s-teachers__card-name {
  color: var(--color-dark-gold);
}

.s-teachers__card-photo {
  margin-bottom: 0.75rem;
}

.s-teachers__card-photo img {
  width: 10rem;
  height: 10rem;
  border: 0.125rem solid transparent;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.s-teachers__card-name {
  margin-bottom: 0.25rem;
  color: var(--color-dark-blue);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.s-teachers__card-position {
  color: var(--color-black);
}

.s-teachers__navigation {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 2.5rem;
  margin: 1.5rem auto 0;
  gap: 0.625rem;
}

.s-teachers__button {
  position: relative;
  top: 0;
  display: -ms-grid;
  display: grid;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 0;
  font-size: 1.5rem;
  place-items: center;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
  outline: none;
}

.s-teachers__button svg {
  width: 0.6875rem;
}

.s-teachers__button::after {
  display: none;
}

.s-teachers__pagination .swiper-pagination-bullet {
  width: 1.25rem;
  height: 0.25rem;
}

.s-campus-contact__inner {
  display: -ms-grid;
  display: grid;
  gap: 2.5rem;
  -ms-grid-columns: (1fr)[1];
  grid-template-columns: repeat(1, 1fr);
}

.s-campus-contact__title {
  margin-bottom: 2.5rem;
  color: var(--color-dark-blue);
}

.s-campus-contact__info {
  margin-bottom: 2.25rem;
}

.s-campus-contact__map iframe {
  height: 33.125rem;
}

.s-campus-contact__right {
  min-width: 0;
}

.s-campus-contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 1.5rem;
  gap: 0.75rem;
}

.s-campus-contact__item-icon {
  width: 1.25rem;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none;
}

.s-campus-contact__item-icon svg {
  width: 100%;
  height: auto;
}

.s-campus-contact__item-info span {
  display: block;
  color: var(--color-black);
}

.s-campus-contact__item-info a {
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.s-campus-contact__item-info a:hover {
  color: var(--color-dark-gold);
}

.s-campus-contact__item-download {
  display: block;
  margin-top: 1.5rem;
  font-weight: 400;
  color: var(--color-dark-blue);
}

@media (min-width: 600px) {
  .s-cost__item-list--two {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 0 3.75rem;
  }
}

@media (min-width: 768px) {
  .s-campus-about__text {
    margin: 0 auto 2.5rem;
  }

  .s-campus-about__video-button span:before {
    width: 5.4375rem;
    height: 4.125rem;
  }

  .s-vk-wall__list {
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .s-vk-wall__item {
    width: 100%;
    min-height: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
  }

  .s-greetings__subtitle {
    margin-bottom: 2.5rem;
  }

  .s-greetings__text {
    margin-bottom: 2.5rem;
  }

  .s-greetings__info {
    margin-bottom: 2.5rem;
  }

  .s-greetings__button {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .s-studying__inner {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .s-studying__info {
    gap: 1.25rem;
  }

  .s-studying__item-info {
    padding: 5rem 3.75rem;
  }

  .s-studying__item-logo img {
    max-width: 14.375rem;
  }

  .s-studying__item-link {
    padding-left: 1.75rem;
  }

  .s-studying__item-link::before {
    width: 1.25rem;
  }

  .s-studying__content {
    padding: 5rem 1.5rem 5rem 5rem;
  }

  .s-studying__content-wrap h2 {
    margin: 0 0 2.5rem;
  }

  .s-cost__inner {
    gap: 1.5rem;
  }

  .s-cost__card {
    padding: 2rem;
  }

  .s-cost__card-title {
    margin: 0 0 0.75rem;
  }

  .s-cost__card-cost {
    margin-bottom: 1.5rem;
  }

  .s-cost__card-more {
    padding-left: 1.75rem;
  }

  .s-cost__card-more::before {
    width: 1.25rem;
  }

  .s-cost__item {
    padding: 1.5rem;
  }

  .s-cost__item-line {
    gap: 0.75rem;
  }

  .s-teachers__navigation {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 2.5rem auto 0;
    gap: 2.5rem;
  }

  .s-teachers__button {
    width: 4.375rem;
    height: 4.375rem;
  }

  .s-teachers__button svg {
    width: 1.25rem;
  }

  .s-campus-contact__inner {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .s-vk-wall__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 20%;
    flex: 1 1 20%;
  }

  .s-cost__top {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }

  .s-cost__item--included {
    grid-column: auto / span 2;
  }

  .s-cost__item--extra {
    grid-column: auto / span 1;
  }

  .s-cost__item-title {
    margin-bottom: 1.5rem;
  }

  .s-cost__item-icon {
    width: 2.25rem;
  }
}

@media screen and (min-width: 1024px) {
  .font-h1 {
    font-size: 4.75rem;
    font-weight: 400;
    line-height: 5.5rem;
  }

  .font-h2 {
    font-family: 'Lora';
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .font-h3 {
    font-size: 2.625rem;
    line-height: 3.25rem;
  }

  .font-h4 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
  }

  .font-xl {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }

  .font-l {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .font-m {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .font-s {
    font-size: 1rem;
    line-height: 1.375rem;
  }

  .font-xs {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .font-button {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .font-menu {
    font-size: 1rem;
    line-height: 1.375rem;
  }

  .s-studying__content-wrap h2 {
    font-size: 1.875rem;
    line-height: 2.5rem;
  }

  .s-studying__content-wrap ul {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .s-campus-about__text {
    margin: 0 auto 5rem;
  }

  .s-vk-wall .m-section__title {
    margin-bottom: 3.75rem;
  }

  .s-vk-wall__social {
    margin: 0 auto 6.875rem;
  }

  .s-vk-wall__social-title {
    margin-bottom: 1.5rem;
  }

  .s-cost__card {
    padding: 3rem 3.5rem;
    gap: 2.5rem;
  }

  .s-cost__card {
    gap: 5rem;
  }

  .s-cost__item {
    padding: 3rem 3.5rem;
  }

  .s-cost__item-line:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .s-campus-contact__inner {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .s-campus-contact__title {
    margin-bottom: 5rem;
  }

  .s-campus-contact__info {
    margin-bottom: 3.75rem;
  }

  .s-campus-contact__left {
    grid-column: auto / span 2;
  }

  .s-campus-contact__right {
    grid-column: auto / span 1;
  }

  .s-campus-contact__item {
    gap: 0.875rem;
  }

  .s-campus-contact__item-icon {
    width: 1.75rem;
  }
}

@media (min-width: 1440px) {
  .s-teachers__card-photo {
    margin-bottom: 2rem;
  }

  .s-teachers__card-photo img {
    width: 16.25rem;
    height: 16.25rem;
  }

  .s-campus-contact__inner {
    gap: 6.25rem;
  }
}

@media (max-width: 767px) {
  .s-cost__wrapper {
    margin: 0 1rem;
  }
}

@media screen {
  .px-0 {
    padding-right: 0;
    padding-left: 0;
  }

  .py-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pb-0 {
    padding-bottom: 0;
  }

  .pt-0 {
    padding-top: 0;
  }

  .mx-0 {
    margin-right: 0;
    margin-left: 0;
  }

  .my-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .mb-0 {
    margin-bottom: 0;
  }

  .mt-0 {
    margin-top: 0;
  }

  .br-0 {
    border-radius: 0;
  }
}
/*# sourceMappingURL=maps/page_campus.css.map */
