.m-section {
  display: flex;
  align-items: center;
  flex-direction: column;

  &__wrapper {
    overflow: hidden;
    padding: rem(40) 0;

    @media (min-width: 1440px) {
      padding: rem(110) 0;
    }
  }

  &__title {
    margin: 0 auto rem(24);
    text-align: center;
    color: var(--color-dark-blue);

    @media (min-width: 768px) {
      margin: 0 auto rem(40);
    }

    @media (min-width: 1440px) {
      margin: 0 auto rem(80);
    }
  }

  &--full &__wrapper {
    max-width: 100%;
    margin: 0;
  }
}
