.s-universal-main {
  text-align: center;

  @media screen and (min-width: 1440px) {
    .m-section__wrapper {
      padding: rem(110) 0 rem(60);
    }
  }

  .m-section__title {
    margin: 0;
  }
}
