.m-universal-content {
  &__title {
    margin-top: 0;
    text-align: center;
    color: var(--color-dark-blue);
  }

  &__text {
    max-width: rem(1120);
    margin: 0 auto;
    font-weight: 400;
    @include font-m;

    h2 {
      @include font-h2;
    }

    h3 {
      @include font-h3;
    }

    h4 {
      @include font-h4;
    }

    ul {}

    ol {}

    b, strong {
      color: var(--color-black);
    }

    a {
      cursor: poiner;
      text-decoration: underline;
      color: var(--color-dark-gold);
      transition-duration: 0.4s;

      &:is(:hover, :focus) {
        color: var(--color-dark-blue);
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}
