+section('s-international-school', 'Heritage International School', false, false)
  .s-international-school__content
    .s-international-school__text.font-m.font-light
      p Heritage International School – сеть международных школ в России. Наша задача – не только научить школьников английскому языку, но и подготовить их к поступлению в престижные университеты Великобритании, США и Европы.
      p Учеба для наших школьников – это увлекательный процесс. Мы учим воспринимать трудности как возможности, помогаем понять, что результат зависит от собственных действий, и создаем условия для воплощения творческих идей.
      p Наши учителя – это наставники, которые помогают детям открыть в себе таланты и способности. Они вдохновляют учеников на развитие и сопровождают их на пути к достижениям. В нашей частной школе каждый ребенок может реализовать свой потенциал и создать прочный фундамент для успеха в будущем.
    +button('s-international-school__button', 'light-grey', 'button', 'УЗНАТЬ БОЛЬШЕ О ШКОЛЕ')
