.s-teachers {
  .swiper-slide {
    height: calc((100% - 24px) / 2) !important;
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: rem(16);
    text-align: center;
    flex-direction: column;

    &:hover {
      img {
        border-color: var(--color-dark-gold);
      }

      .s-teachers__card-name {
        color: var(--color-dark-gold);
      }
    }

    &-photo {
      margin-bottom: rem(12);

      @media (min-width: 1440px) {
        margin-bottom: rem(32);
      }

      img {
        width: rem(160);
        height: rem(160);
        border: rem(2) solid transparent;
        object-fit: cover;
        transition-duration: 0.4s;

        @media (min-width: 1440px) {
          width: rem(260);
          height: rem(260);
        }
      }
    }

    &-name {
      margin-bottom: rem(4);
      color: var(--color-dark-blue);
      transition-duration: 0.4s;
    }

    &-position {
      color: var(--color-black);
    }
  }

  &__navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(40);
    margin: rem(24) auto 0;
    gap: rem(10);


    @media (min-width: 768px) {
      justify-content: center;
      width: max-content;
      margin: rem(40) auto 0;
      gap: rem(40);
    }
  }

  &__button {
    position: relative;
    top: 0;
    display: grid;
    width: rem(40);
    height: rem(40);
    margin-top: 0;
    font-size: rem(24);
    place-items: center;
    flex: none;
    outline: none;

    @media (min-width: 768px) {
      width: rem(70);
      height: rem(70);
    }

    svg {
      width: rem(11);

      @media (min-width: 768px) {
        width: rem(20);
      }
    }

    &::after {
      display: none;
    }
  }

  &__pagination {
    .swiper-pagination-bullet {
      width: rem(20);
      height: rem(4);
    }
  }

  .swiper-slide {
    max-width: rem(180);
    height: calc((100% - 24px) / 5) !important;

    @media (min-width: 600px) {
      max-width: rem(324);
      height: calc((100% - 24px) / 2) !important;
    }
  }
}