-
  const teachers = [
    {
      image : "./img/teachers/1.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/2.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/3.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/4.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/5.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/6.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/7.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/8.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/9.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/1.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/2.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/3.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/4.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/5.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/6.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/7.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/8.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
    {
      image : "./img/teachers/9.jpg",
      title: "Beverley Sandy",
      position: "Primary Teacher University of Cambridge",
    },
  ]

+section('s-teachers', 'Наша команда', false, false)
  .s-teachers__slider
    .swiper-wrapper
      each item in teachers
        .swiper-slide.s-teachers__slide
          a.s-teachers__card(href="")
            .s-teachers__card-photo
              img(src!=item.image, alt="")
            .s-teachers__card-name.font-xl.font-semibold= item.title
            .s-teachers__card-position.font-l.font-light= item.position
    .s-teachers__navigation
      .swiper-button-prev.s-teachers__button.s-teachers__button-prev
        <svg width="22" height="42" viewBox="0 0 22 42" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.75 0.746582L1.5 20.8716L20.75 40.9966" stroke="#3A3A3A" stroke-width="2"/>
        </svg>

      .swiper-pagination.s-teachers__pagination
      .swiper-button-next.s-teachers__button.s-teachers__button-next
        <svg width="22" height="42" viewBox="0 0 22 42" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.25 0.746582L20.5 20.8716L1.25 40.9966" stroke="#3A3A3A" stroke-width="2"/>
        </svg>

