.ico-mono-ic-arrow-bottom-big {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.ico-mono-ic-arrow-bottom {
  width: 1.78em;
  height: 1em;
  fill: #2D2E2C;
}
.ico-mono-ic-arrow-left {
  width: 4.56em;
  height: 1em;
  fill: #434343;
}
.ico-mono-ic-arrow-right {
  width: 4.56em;
  height: 1em;
  fill: #434343;
}
.ico-mono-ic-arrow-top-big {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.ico-mono-ic-arrow-top {
  width: 1.78em;
  height: 1em;
  fill: #2D2E2C;
}
.ico-mono-ic-arrow-up-down {
  width: 1em;
  height: 1em;
  fill: #2D2E2C;
}
.ico-mono-ic-back {
  width: 0.6em;
  height: 1em;
  fill: initial;
}
.ico-mono-ic-burger {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.ico-mono-ic-cart {
  width: 1.11em;
  height: 1em;
  fill: #2D2E2C;
}
.ico-mono-ic-close {
  width: 1em;
  height: 1em;
  fill: #2D2E2C;
}
.ico-mono-ic-cross {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-ic-facebook {
  width: 1em;
  height: 1em;
  fill: #434343;
}
.ico-mono-ic-header-location {
  width: 1em;
  height: 1em;
  fill: #958B8B;
}
.ico-mono-ic-header-telegram {
  width: 1.17em;
  height: 1em;
  fill: #958B8B;
}
.ico-mono-ic-header-whatsapp {
  width: 1em;
  height: 1em;
  fill: #958B8B;
}
.ico-mono-ic-heart {
  width: 1.22em;
  height: 1em;
  fill: #2D2E2C;
}
.ico-mono-ic-instagram {
  width: 1em;
  height: 1em;
  fill: #434343;
}
.ico-mono-ic-location {
  width: 0.79em;
  height: 1em;
  fill: #434343;
}
.ico-mono-ic-menu {
  width: 1.83em;
  height: 1em;
  fill: #1D1D1B;
}
.ico-mono-ic-phone-fill {
  width: 1em;
  height: 1em;
  fill: #434343;
}
.ico-mono-ic-phone-outline {
  width: 1em;
  height: 1em;
  fill: #2D2E2C;
}
.ico-mono-ic-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-mono-ic-pinterest {
  width: 1em;
  height: 1em;
  fill: #434343;
}
.ico-mono-ic-plus {
  width: 1em;
  height: 1em;
  fill: #2D2E2C;
}
.ico-mono-ic-search {
  width: 1em;
  height: 1em;
  fill: #2D2E2C;
}
.ico-mono-ic-telegram {
  width: 1em;
  height: 1em;
  fill: #434343;
}
.ico-mono-ic-vkontakte {
  width: 1em;
  height: 1em;
  fill: #434343;
}
.ico-mono-ic-whatsapp-fill {
  width: 1em;
  height: 1em;
  fill: #434343;
}
.ico-mono-ic-whatsapp {
  width: 1em;
  height: 1em;
  fill: #434343;
}
