.ico-mono-ic-facebook {
  width: 1em;
  height: 1em;
  fill: #C49A6C;
}
.ico-mono-ic-instagram {
  width: 1em;
  height: 1em;
  fill: #C49A6C;
}
.ico-mono-ic-quote-bottom {
  width: 0.88em;
  height: 1em;
  fill: #C49A6C;
}
.ico-mono-ic-quote-top {
  width: 0.88em;
  height: 1em;
  fill: #C49A6C;
}
.ico-mono-ic-search {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.ico-mono-ic-telegram {
  width: 1em;
  height: 1em;
  fill: #C49A6C;
}
.ico-mono-ic-university-10 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-11 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-12 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-13 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-14 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-15 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-2 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-3 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-4 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-5 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-6 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-7 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-8 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university-9 {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-university {
  width: 1em;
  height: 1em;
  fill: #041E42;
}
.ico-mono-ic-whatsapp {
  width: 1em;
  height: 1em;
  fill: #C49A6C;
}
