.s-author-block
  .s-author-block__top
    .s-author-block__photos
      .s-author-block__photo
        img(src="./img/demo/article/author-1.jpg", alt="")
      .s-author-block__photo
        img(src="./img/demo/article/author-2.jpg", alt="")
    .s-author-block__name.font-l.font-medium Чета Great&Britain
      br
      span.font-l.font-light семья англичан в Москве

  .s-author-block__bottom
    .s-author-block__text.font-m.font-light
      p Супруги - сторонники классического британского образования. Столкнувшись с необходимостью выбора английской школы для своих сыновей, пара изучила вопрос изнутри и теперь с удовольствием делится опытом в нашем блоге.
      p С сентября 2020 11-летний Вильям и 8-летний Филипп учатся в Heritage School. Подписывайтесь на блог наших амбассадоров Great & Britain и вы узнаете все о британском образовании, обучении в билингвальной школе и воспитании детей.
