include ../../blocks/components/a_button/a_button.pug
include ../../blocks/components/m_section/m_section.pug
include ../../blocks/components/m_main_slider/m_main_slider.pug
include ../../blocks/components/m_tabs/m_tabs.pug
include ../../blocks/components/m_breadcrumbs/m_breadcrumbs.pug
include ../../blocks/components/m_search_card/m_search_card.pug
include ../../blocks/components/m_blog_card/m_blog_card.pug
include ../../blocks/components/m_quote_section/m_quote_section.pug
include ../../blocks/components/m_content_section/m_content_section.pug
include ../../blocks/components/m_universal_text/m_universal_text.pug
