include ../../blocks/components/a_button/a_button.pug
include ../../blocks/components/m_section/m_section.pug
include ../../blocks/components/m_slider_section/m_slider_section.pug
include ../../blocks/components/m_tabs/m_tabs.pug
include ../../blocks/components/m_breadcrumbs/m_breadcrumbs.pug
include ../../blocks/components/m_search_card/m_search_card.pug
