.s-universal-form {
  background-color: var(--color-white);

  &__title {
    margin-top: 0;
    color: var(--color-dark-blue);
  }

  &__wrapper {
    display: grid;
    gap: rem(40);
    grid-template-columns: repeat(1, 1fr);

    @media (min-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
