+m_content_section('s-training-program', 'Программа обучения в Heritage', './img/training-program/cover.jpg', true)
  .s-training-program__subtitle.font-l.font-medium Обучение основано на двух программах:<br> международной и российской.
  .s-training-program__text.font-m.font-light
    p Программа The Cambridge International Curriculum*
    p разработана в одноимённом университете и создана на основе принципов мультикультурного образования. В неё входит более 70 дисциплин, все они преподаются на английском языке. Ученики получают аттестат Advanced Level General Certificate of Education, который даёт возможность подать документы в англоязычные вузы.
  +button('s-training-program__button', 'light-grey', 'link', 'Читать далее')
  .s-training-program__note.font-m.font-light
    p *Только в кампусе Сокольники
