
section.s-page-error.s-page
  .l-container
    .s-page-error__wrapper
      +m_breadcrumbs(['Главная'], 'Страница не найдена')
      h1.s-page__title.font-h2 404
      .s-page-error__content
        p Вы находитесь здесь, потому что ввели адрес страницы, которая не существует или была перемещена по другому адресу. Не расстраивайтесь!
        p Хотите узнать подробности о поступлении в школу? <a href="">Вам сюда</a>.
        p Если Вы искали стоимость обучения в школе, перейдите по <a href="">ссылке</a>.
        p Возможно, Вы хотели бы узнать подробнее о <a href="">наших учителях?</a>
      +button('s-page-error__button', 'light-grey', 'button', 'На главную')
