-
  var resultsSeacrh = [
    {
      title: '5-балльная или 10-балльная система оценок в школе',
      content: 'Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Одна рукописи которой алфавит напоивший повстречался меня, бросил сих великий эта маленькая послушавшись его за это продолжил? Там, дороге то?'
    },
    {
      title: 'Система Монтессори – что это такое. Плюсы и минусы методики.',
      content: 'Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Одна рукописи которой алфавит напоивший повстречался меня, бросил сих великий эта маленькая послушавшись его за это продолжил? Там, дороге то?'
    },
    {
      title: 'Система образования в Великобритании',
      content: 'Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Одна рукописи которой алфавит напоивший повстречался меня, бросил сих великий эта маленькая послушавшись его за это продолжил? Там, дороге то?'
    }
  ]

section.s-page-cost.s-page
  .l-container
    .s-page-cost__wrapper
      +m_breadcrumbs(['Главная'], 'Стоимость обучения')
      h1.s-page__title.font-h2 Стоимость обучения

      .s-page-covid__tabs
        table
          thead
            tr
              th(scope="col") Account
              th(scope="col") Due
              th(scope="col") Amount
              th(scope="col") Period
          tbody
            tr
              td(data-label="Account") Account
              td(data-label="Due") Due
              td(data-label="Amount") Amount
              td(data-label="Period") Period
