-
  var resultsSeacrh = [
    {
      title: '5-балльная или 10-балльная система оценок в школе',
      content: 'Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Одна рукописи которой алфавит напоивший повстречался меня, бросил сих великий эта маленькая послушавшись его за это продолжил? Там, дороге то?'
    },
    {
      title: 'Система Монтессори – что это такое. Плюсы и минусы методики.',
      content: 'Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Одна рукописи которой алфавит напоивший повстречался меня, бросил сих великий эта маленькая послушавшись его за это продолжил? Там, дороге то?'
    },
    {
      title: 'Система образования в Великобритании',
      content: 'Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Одна рукописи которой алфавит напоивший повстречался меня, бросил сих великий эта маленькая послушавшись его за это продолжил? Там, дороге то?'
    }
  ]

section.s-page-covid.s-page
  .l-container
    .s-page-covid__wrapper
      +m_breadcrumbs(['Главная'], 'COVID-19')
      h1.s-page__title.font-h2 COVID-19

      .s-page-covid__tabs
        +m_tabs(resultsSeacrh)

      .s-page-covid__content
        p Heritage School будет постоянно отслеживать и надлежащим образом реагировать на любые изменения ситуации с COVID-19 с членами нашего студенческого сообщества и сотрудниками, чтобы обеспечить их здоровье и безопасность.
