.s-page-article {

  &__wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
  }

  &__inner {
    max-width: 96%;
    margin: 0 auto;

    @media (min-width: 992px) {
      max-width: 90%;
    }

    @media (min-width: 1440px) {
      max-width: rem(1140);
    }
  }

  &__title {
    margin-bottom: rem(24);
    color: var(--color-dark-blue);
  }

  &__date {
    margin-bottom: rem(24);
    color: var(--color-black);
  }

  &__content {
    font-weight: 300;
    color: var(--color-black);
    @include font-m;

    img {
      width: 100%;
      height: auto;
    }

    h2, h3, h4, h5 {
      font-weight: 500;
      @include font-xl;
    }

    // h2 {
    //   @include font-h2;
    // }

    // h3 {
    //   @include font-h3;
    // }

    // h4 {
    //   @include font-h4;
    // }

    h2, h3, h4, h5 {
      color: var(--color-dark-blue);
    }

    a {
      color: var(--color-dark-gold);
    }

    blockquote {
      position: relative;
      margin: rem(16) rem(46);
      padding: rem(16) rem(24);
      text-align: center;
      @include font-m;

      &:before,
      &:after {
        position: absolute;
        font-family: Times, sans-serif;
        font-size: rem(100);
        line-height: rem(100);
        color: var(--color-dark-blue);
      }

      &:before {
        top: rem(-10);
        left: rem(-30);
        content: '“';
      }

      &:after {
        right: rem(-30);
        bottom: rem(-10);
        content: '”';
      }
    }

    iframe {
      width: 100%;
      border: 0;

      @media (max-width: 768px) {
          height: rem(280);
      }

      @media (max-width: 545px) {
          height: rem(190);
      }
    }

    p, ul, ol, table, iframe, img, h2, h3, h4, h5 {
      margin: 0 0 rem(12);

      @media (min-width: 1024px) {
        margin-bottom: rem(40);
      }
    }

    ul, ol {
      margin-left: 0;
      padding-left: rem(20);
    }
  }
}
