section.s-page-article.s-page
  .l-container
    .s-page-article__wrapper
      +m_breadcrumbs(['Главная'], 'Государственная или частная школа - что лучше?')
      .s-page-article__inner
        h1.s-page-article__title.font-h2 Государственная или частная школа - что лучше?
        .s-page-article__headline
          .s-page-article__date.font-xs.font-light 16.03.2021
          .s-page-article__time.font-xs.font-light
            +svgMono("ic-outline-access-time")
            | Время чтения:
            span.font-regular 10 мин
        .s-page-article__content
          p "Что лучше – частная или государственная школа?" – согласитесь, такая дилемма может возникнуть только у тех родителей, которые теоретически могут себе позволить оплачивать образование. Малоимущие семьи просто не задаются подобными вопросами. Бессмысленно рассуждать о преимуществах частного образования, когда у вас нет средств даже не базовые нужды. Поэтому сегодня мы обсудим плюсы и минусы государственных и частных школ с точки зрения состоятельного родителя. Речь не идет о баснословно богатых семьях – у подобных людей просто нет выбора, из соображений безопасности для них существует только одна опция – частные школы. Мы рассмотрим ситуацию со стороны представителя middle class (среднего класса), к каковым я отношу и себя.
          p Рад приветствовать вас сегодня, я Mr. Great, и мы исследуем преимущества и недостатки государственных и частных школ.
          img(src="./img/demo/article/1.jpg", alt="")
          h2 Содержание
          ul
            li
              a(href="#")  Что такое частная школа
            li
              a(href="#")  Частная школа или государственная. Основные отличи
            li
              a(href="#") Плюсы и минусы частной школы
            li
              a(href="#") Плюсы и минусы государственной школы
            li
              a(href="#") Резюме
          h2 Что такое частная школа
          p Согласно определению Википедии, частная школа – это негосударственное учебное заведение начального или среднего образования, средства на содержание которого частично или полностью окупаются за счет платы, взимаемой с учащихся.
          p Говоря простым языком, частная школа финансируется родителями учеников. Будучи человеком бизнеса, я (возможно, несколько цинично) рассматриваю модель частной школы с коммерческой точки зрения. В отличие от государственной школы, частной жизненно необходимо сохранять и преумножать удовлетворенность родителей качеством обучения, возможностями внеклассного развития и академическими показателями учеников.
          img(src="./img/demo/article/2.jpg", alt="")
          p Помимо базовых обязательных составляющ

        include ../s_author_block/s_author_block.pug
