extends  ../layouts/default

block variables
  - const title = "Кампус Сокольники"

block append head
  link(rel="stylesheet" href="./styles/page_campus.css")

block content
  include ../../blocks/sections/_campus/s_campus_about/s_campus_about.pug
  include ../../blocks/sections/_campus/s_greetings/s_greetings.pug
  include ../../blocks/sections/_campus/s_studying/s_studying.pug
  include ../../blocks/sections/_campus/s_cost/s_cost.pug
  include ../../blocks/sections/_campus/s_teachers/s_teachers.pug
  include ../../blocks/sections/_main/s_vk_wall/s_vk_wall.pug

block append scripts
  script(defer src="./js/page_campus.js")
