extends  ../layouts/default

block variables
  - const title = "Стоимость обучения"

block append head
  link(rel="stylesheet" href="./styles/page_cost.css")

block content
  include ../../blocks/sections/_cost/s_page_cost/s_page_cost.pug

block append scripts
  script(defer src="./js/page_cost.js")
