extends  ../layouts/default

block variables
  - const title = "Поиск"

block append head
  link(rel="stylesheet" href="./styles/page_search.css")

block content
  include ../../blocks/sections/_seacrh/s_page_search/s_page_search.pug

block append scripts
  script(defer src="./js/page_search.js")
