extends  ../layouts/default

block variables
  - const title = "UI-Kit"

block content
  +section('s-ui-typography', 'Типографика', false)
    h1.font-h1 Заголовок h1
    h2.font-h2 Заголовок h2
    h2.font-h3 Заголовок h3
    h2.font-h4 Заголовок h4
    br

    .font-xl.font-bold Текст xl / 700
    .font-xl.font-semibold Текст xl / 600
    .font-xl.font-medium Текст xl / 500
    .font-xl.font-regular Текст xl / 400
    br

    .font-l.font-medium Текст l / 500
    .font-l.font-regular Текст l / 400
    .font-l.font-light Текст l / 300
    br

    .font-m.font-medium Текст m / 500
    .font-m.font-regular Текст m / 400
    .font-m.font-light Текст m / 300
    br

    .font-s.font-medium Текст s / 500
    .font-s.font-regular Текст s / 400
    .font-s.font-light Текст s / 300
    br

    .font-xs.font-semibold Текст xs / 600
    .font-xs.font-regular Текст xs / 400
    .font-xs.font-light Текст xs / 300
    br

    .font-button Текст button
    br

    .font-menu Текст menu
    br

    +m_breadcrumbs(['Main page', 'News'], 'News detail')
    br

  +section('s-ui-buttons', 'Кнопки')
    +button('a-button-test', 'black', 'button', 'Добавить в корзину', 'ic-cart')
    br
    +button('a-button-test', 'light-grey', 'button', 'Консультация стилиста')

  +m_universal_media('./img/global/quote-bg-2.svg')
