extends  ../layouts/default

block variables
  - const title = "UI-Kit"

block content
  +section('s-ui-typography', 'Типографика', false)
    h1.font-h1 Заголовок баннеров h1

  +section('s-ui-buttons', 'Кнопки')
    +button('a-button-test', 'black', 'button', 'Добавить в корзину', 'ic-cart')
    br
    +button('a-button-test', 'light-grey', 'button', 'Консультация стилиста')

block scripts
  script(defer src="js/vendor.js")
  script(defer src="js/main.js")