extends  ../layouts/default

block variables
  - const title = "Универсальная страница"

block append head
  link(rel="stylesheet" href="./styles/page_universal.css")

block content
  //- include ../../blocks/sections/_covid/s_page_covid/s_page_covid.pug
  +m_content_section('', 'Каковы преимущества?', './img/demo/universal/1.jpg', false)
    ul
      li Ежегодно почти миллион учащихся Кембриджа готовятся к своему
      li Более 10 000 школ входят в учебное сообщество Кембриджа.
    p
      b Ежегодно почти миллион учащихся Кембриджа готовятся:
    ol
      li Ежегодно почти миллион учащихся Кембриджа готовятся к своему
      li Более 10 000 школ входят в учебное сообщество Кембриджа.
  +m_content_section('', '', './img/demo/universal/1.jpg', true)
    p Ежегодно почти миллион учащихся Кембриджа готовятся к своему будущему, получая образование в международных школах Кембриджа. Мы воспитываем уверенных, ответственных, мыслящих и заинтересованных учеников, готовых к успеху в современном мире. Более 10 000 школ входят в учебное сообщество Кембриджа. Кембриджские школы существуют в 160 странах мира.Кембридж производит высококачественные современные ресурсы, подтверждающие их квалификацию, а одобренные ими книги используются в каждом классе, начиная с первого года обучения в международной школе Heritage.
    p
      b Ежегодно почти миллион учащихся Кембриджа готовятся:
    ul
      li Ежегодно почти миллион учащихся Кембриджа готовятся к своему будущему, получая образование в международных школах Кембриджа.
      li Более 10 000 школ входят в учебное сообщество Кембриджа. Кембриджские школы существуют в 160 странах мира.Кембридж производит высококачественные современные ресурсы
    p
      b Ежегодно почти миллион учащихся Кембриджа готовятся:
    ol
      li Ежегодно почти миллион учащихся Кембриджа готовятся к своему будущему, получая образование в международных школах Кембриджа.
      li Более 10 000 школ входят в учебное сообщество Кембриджа. Кембриджские школы существуют в 160 странах мира.Кембридж производит высококачественные современные ресурсы
  +m_universal_content('')
    p Кембриджские программы и квалификации устанавливают глобальный стандарт международного образования. Они созданы экспертами-предметниками, основаны на академической строгости и отражают последние образовательные исследования. Четыре этапа Cambridge Pathway плавно ведут от начальной до средней и довузовской подготовки. Способ составления учебной программы означает, что мы можем формировать учебную программу в соответствии с потребностями учащихся.
    p В некоторых странах, например, в Сингапуре, они работают с государственными органами для проведения национальных экзаменов для учащихся средних школ. В других странах, таких как Египет и Бахрейн, они работают с правительствами над разработкой и внедрением новых систем образования и оценки.Кембриджское профессиональное развитие помогает учителям стать уверенными, ответственными, мыслящими, новаторскими и заинтересованными. Наши учителя имеют доступ к обучению, мероприятиям, а также учебным ресурсам Кембриджа, которые помогают им обучать успешных учеников и способствуют профессиональному саморазвитию. Мы также можем предложить Кембриджские курсы повышения профессиональной квалификации учителям и инструкторам от имени Кембриджа. Кембридж предоставляет квалификации Ofqual (Office of Qualifications and Examinations Regulation) регулирующим органом правительства Великобритании по  присуждению организаций и регулируемых квалификаций в Англии.
    p Ежегодно почти миллион учащихся Кембриджа готовятся к своему будущему, получая образование в международных школах Кембриджа. Мы воспитываем уверенных, ответственных, мыслящих и заинтересованных учеников, готовых к успеху в современном мире. Более 10 000 школ входят в учебное сообщество Кембриджа. Кембриджские школы существуют в 160 странах мира.Кембридж производит высококачественные современные ресурсы, подтверждающие их квалификацию, а одобренные ими книги используются в каждом классе, начиная с первого года обучения в международной школе Heritage.Кембридж также опирается на опыт Кембриджской математики при разработке своей учебной программы по математике, квалификаций и ресурсов. Cambridge Mathematics — это совместное предприятие, стремящееся обеспечить математическое образование мирового класса для всех учащихся в возрасте от 3 до 19 лет. Он был основан в 2015 году Кембриджем совместно с математическим и педагогическим факультетами университета.Cambridge International — надежный партнер в сфере образования для правительств более чем 30 стран.
  +m_content_section('', 'Каковы преимущества?', './img/demo/universal/1.jpg', false)
    p
      b Ежегодно почти миллион учащихся Кембриджа готовятся
    p Ежегодно почти миллион учащихся Кембриджа готовятся к своему будущему, получая образование в международных школах Кембриджа. Мы воспитываем уверенных, ответственных, мыслящих и заинтересованных учеников, готовых к успеху в современном мире. Более 10 000 школ входят в учебное сообщество Кембриджа. высококачественные ими книги используются в каждом классе, начиная с первого года обучения в <a href="#">международной школе Heritage</a>.
  +m_quote_section('Мы заботимся о вашем ребёнке', './img/global/quote-bg-1.svg')
  +m_universal_content('Что изучают ученики?')
    p Студенты Кембриджа имеют возможность приобрести знания и навыки, необходимые им в школе, университете и не только.
    p Студенты Кембриджа имеют возможность приобрести знания и навыки, необходимые им в школе, университете и не только.
    p Знания, понимание и навыки мышления высшего порядка: программы Кембриджа сочетают упор на углубленное изучение предметов с развитием навыков для учебы и работы в будущем. Мы ценим глубокие предметные знания, а также концептуальное понимание, которое помогает студентам устанавливать связи между различными аспектами предмета. Мы также поощряем студентов развивать навыки мышления более высокого порядка — решение проблем, критическое мышление, независимые исследования, сотрудничество и представление аргументов. Это передаваемые навыки, которые сохранятся на всю жизнь, подготавливая студентов к их будущей жизни. Они также делают обучение приятным и полезным.

block append scripts
  script(defer src="./js/page_universal.js")
