+section('s-teacher-info', '', false, true)
  a.s-teacher-info__link(href="")
    span.s-teacher-info__link-arrow
      +svgMono("ic-arrow-left")
    span.font-button Все преподаватели
  .s-teacher-info__inner
    .s-teacher-info__photo
      img(src="./img/teacher/photo.jpg", alt="")
    .s-teacher-info__content
      h1.s-teacher-info__title.font-h2 Виктория Бирюкова
      .s-teacher-info__level.font-m Nanny Y1
      .s-teacher-info__subtitle.font-xl.font-medium Образование
      .s-teacher-info__description.font-m.font-light Тюменский государственный университет, институт Психологии и педагогики
