+m_content_section('s-greetings', 'Приветствие директора школы', './img/greetings/cover.jpg', false)
  .s-greetings__text.font-m.font-light
    p «Для меня большая честь наблюдать за тем, как дети растут и учатся в нашей потрясающей школе, и я уверен, что каждый наш ученик достигнет успехов в будущем!»
  .s-greetings__info
    p.s-greetings__info-title.font-m.font-medium Andrew Nolan
    p.s-greetings__info-position.font-m.font-light Директор школы, кампус Сокольники
  +button('s-greetings__button', 'light-grey', 'link', 'Читать подробнее')
