mixin slider_section(titleSection=title, slidesData=slidesData)
  +section('m-section-slider', titleSection)&attributes(attributes)
    .m-section-slider__list.swiper-container
      .swiper-wrapper
        each slide in slidesData
          .swiper-slide.m-section-slider__slide
            +product_card(slide.title, slide.image, slide.price, true)
      .m-section-slider__controls
        .m-section-slider__button.m-section-slider__button-prev
          +svgMono('ic-arrow-left')
        .swiper-pagination
        .m-section-slider__button.m-section-slider__button-next
          +svgMono('ic-arrow-right')