.m-section-slider {
  &__wrapper {
    @media (max-width: 991px) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__slide {
    @media (max-width: 1023px) {
      width: rem(190) !important;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(40);
    padding: rem(24) 0;
    gap: rem(20);

    .swiper-pagination {
      position: relative;
      z-index: 1;
      left: 0 !important;
      bottom: 0 !important;
      width: max-content;
      height: auto !important;
      margin: 0 !important;
      transform: none !important;
    }
  }

  &__button {
    position: relative;
    z-index: 1;
    display: grid;
    cursor: pointer;
    place-items: center;

    .ico {
      width: rem(40);
    }
  }
}
