-
  var articles = [
    {
      title: 'Государственная или частная школа — что лучше?',
      text: 'Что лучше – государственная или частная школа? За что платят родители учеников частных школ? Чего не хватает государственным школам и какие навыки, можно получить только в частной школе? Анализируем плюсы и минусы бесплатного и платного образования и делаем выводы.',
      date: '16. 03. 2021',
      image: './img/demo/blog/1.jpg'
    },
    {
      title: 'Система Монтессори – что это такое. Плюсы и минусы методики.',
      text: 'Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Одна рукописи которой алфавит напоивший повстречался меня, бросил сих великий эта маленькая послушавшись его за это продолжил? Там, дороге то?',
      date: '16. 03. 2021',
      image: './img/demo/blog/2.jpg'
    },
    {
      title: 'Платное или бесплатное образование',
      text: 'Школьное образование обязательно для всех. Однако, кто-то учится в районной муниципальной школе, а кто-то посещает элитную частную школу. Что лучше? Разбираемся с плюсами и минусами платного и бесплатного образования и оцениваем перспективы развития частного сегмента образования в России.',
      date: '16. 03. 2021',
      image: './img/demo/blog/3.jpg'
    },
    {
      title: 'Платное или бесплатное образование',
      text: 'Школьное образование обязательно для всех. Однако, кто-то учится в районной муниципальной школе, а кто-то посещает элитную частную школу. Что лучше? Разбираемся с плюсами и минусами платного и бесплатного образования и оцениваем перспективы развития частного сегмента образования в России.',
      date: '16. 03. 2021',
      image: './img/demo/blog/3.jpg'
    },
  ]

+section('s-related', 'Это может быть интересным', false, false)
  .s-related__list
    each item in articles
      +m_blog_card(item.title, item.text, item.date, item.image)
