:root {
  --color-black: #2d2e2c;
  --color-dark-grey: #434343;
  --color-beige: #958b8b;
  --color-disabled-grey: #9c9a9a;
  --color-grey: #e0dddc;
  --color-middle-grey: #f1f0f0;
  --color-light-grey: #f9f9f9;
  --color-white: #ffffff;
  --color-red: #CE202F;
}
