:root {
  --color-dark-blue: #041E42;
  --color-black: #3A3A3A;
  --color-dark-gold: #C49A6C;
  --color-light-gold: #EFD6BA;
  --color-grey: #ACACAC;
  --color-middle-grey: #E5E5E5;
  --color-light-grey: #F9F9F9;
  --color-white: #ffffff;
}
