.s-campuses {
  display: flex;
  align-items: center;
  justify-content: center;

  &.m-section--full &__wrapper {
    width: -webkit-fill-available;
    margin: 0 rem(16);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: rem(16);

    @media (min-width: 575px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.s-campuses__item {
  overflow: hidden;
  position: relative;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: rem(255);
  text-align: center;
  color: var(--color-white);
  flex-direction: column;
  @include tr('all');

  @media (min-width: 768px) {
    min-height: rem(370);
  }

  @media (min-width: 1024px) {
    min-height: rem(570);
  }

  @media (min-width: 575px) and (max-width: 1023px) {
    &:last-child {
      grid-column: 1 / -1;
    }
  }

  &.is-active {
    border-bottom: rem(5) solid var(--color-dark-gold);
  }

  &:hover {
    transition: transform 0.5s linear;

    .s-campuses__item-overlay {
      background: rgba(240,212,198,.5) none repeat scroll 0 0;
    }

    .s-campuses__item-image {
      overflow: hidden;
      transform: scale(1.05);
      transition: all 0.5s linear;
    }
  }

  &-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(2, 17, 37, 0.6), rgba(2, 17, 37, 0.6));
    transition: all 0.5s linear;
    mix-blend-mode: multiply;
  }

  &-image {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include tr('all');
  }

  &-content {
    z-index: 2;
    padding: rem(40);
  }

  &-title {
    margin-bottom: rem(4);
  }

  &-city {
    margin-bottom: rem(40);
  }

  &-button {
    margin: 0 auto;
  }
}
