section.s-page-greetings.s-page.pb-0
  .l-container
    .s-page-blog__wrapper
      +m_breadcrumbs(['Main', 'About Us'], 'Message from Head of School')
      h1.s-page__title.font-h2 Приветствие основателя школы
