+section('s-studying', '', false, true)
  .s-studying__inner
    .s-studying__info
      .s-studying__item
        img.s-studying__item-bg(src="./img/studying/bg-item.jpg", alt="")
        .s-studying__item-overlay
        .s-studying__item-info
          .s-studying__item-logo
            img(src="./img/studying/cambridge-international-school.svg", alt="")
          .s-studying__item-text.font-xl.font-semibold Heritage International School Sokolniki campus has international Cambridge accreditation.
          a.s-studying__item-link.font-s(href="") читать подробнее

      .s-studying__item
        img.s-studying__item-bg(src="./img/studying/bg-item.jpg", alt="")
        .s-studying__item-overlay
        .s-studying__item-info
          .s-studying__item-logo
            img(src="./img/studying/school-logo.svg", alt="")
          .s-studying__item-text.font-xl.font-semibold Heritage International School is licensed by the Moscow Department of Education.
          a.s-studying__item-link.font-s(href="") читать подробнее

    .s-studying__content
      .s-studying__content-wrap
        h2 Кампус Сокольники предлагает:
        ul
          li Обучение по двум программам: российская и кембриджская.
          li Иностранных педагогов с опытом работы в международных школах.
          li Большой выбор дополнительных занятий и кружков.
          li Просторные и светлые учебные классы, оборудованные эргономичной мебелью и современными учебно-игровыми материалами.
          li Персональные устройства для каждого ученика Year One — Year Six.
          li Спальни для детей от трёх до пяти лет.
          li Пятиразовое сбалансированное питание, приготовленное на собственной кухне по меню от шеф-повара.
          li Медицинский блок, кабинеты логопеда и психолога.
          li Футбольное поле с беговыми дорожками.
          li Закрытую охраняемую территорию и круглосуточную систему видеонаблюдения.
