+m_content_section('s-greetings', 'Приветствие директора школы', './img/founder-school/cover.jpg', false)
  .s-greetings__text.font-m.font-light
    p «Heritage School — это место, где создают такую атмосферу, которая вдохновляет детей исследовать мир, заводить друзей, быть активными и проявлять заботу.»
  .s-greetings__info
    .s-greetings__info-top
      p.s-greetings__info-title.font-m.font-medium Ильдар Нафиков,
      p.s-greetings__info-position.font-m.font-light основатель Heritage Education Group
    .s-greetings__info-bottom
      img.s-greetings__info-signature(src="./img/founder-school/signature.svg", alt="")

