-
  var advantagesList = [
    { icon: './img/advantages/1.svg', title: 'Уникальная образовательная программа', text: 'Учебный процесс основан на соединении международной и российской программы обучения. По окончании обучения у наших выпускников будет возможность выбрать, где продолжать обучение - в России или за границей.'},
    { icon: './img/advantages/2.svg', title: 'Мультикультурность и билингвальная среда', text: 'Учебный процесс основан на соединении международной и российской программы обучения. По окончании обучения у наших выпускников будет возможность выбрать, где продолжать обучение - в России или за границей.'},
    { icon: './img/advantages/3.svg', title: 'Для детей<br> от 3 до 18 лет', text: 'Учебный процесс основан на соединении международной и российской программы обучения. По окончании обучения у наших выпускников будет возможность выбрать, где продолжать обучение - в России или за границей.'},
    { icon: './img/advantages/4.svg', title: 'Более<br> 50 кружков', text: 'Учебный процесс основан на соединении международной и российской программы обучения. По окончании обучения у наших выпускников будет возможность выбрать, где продолжать обучение - в России или за границей.'},
    { icon: './img/advantages/5.svg', title: 'Пятиразовое<br> питание', text: 'Учебный процесс основан на соединении международной и российской программы обучения. По окончании обучения у наших выпускников будет возможность выбрать, где продолжать обучение - в России или за границей.'},
    { icon: './img/advantages/6.svg', title: 'Современная инфраструктура', text: 'Учебный процесс основан на соединении международной и российской программы обучения. По окончании обучения у наших выпускников будет возможность выбрать, где продолжать обучение - в России или за границей.'},
    { icon: './img/advantages/7.svg', title: 'Поддержка для<br>  родителей и учеников', text: 'Учебный процесс основан на соединении международной и российской программы обучения. По окончании обучения у наших выпускников будет возможность выбрать, где продолжать обучение - в России или за границей.'},
    { icon: './img/advantages/8.svg', title: 'Безопасная<br> территория', text: 'Учебный процесс основан на соединении международной и российской программы обучения. По окончании обучения у наших выпускников будет возможность выбрать, где продолжать обучение - в России или за границей.'},
  ];

+section('s-advantages', 'Преимущества обучения в Heritage International School', false, false)
  .s-advantages__list
    each item in advantagesList
      .s-advantages__card
        .s-advantages__card-icon
          img(src=item.icon, alt=title)
        .s-advantages__card-title.font-l.font-medium!= item.title
        .s-advantages__card-text.font-s!= item.text
