+section('s-campus-about', 'О кампусе', false, true)
  .s-campus-about__content
    .s-campus-about__text.font-l.font-light
      p Кампус Сокольники – это комфортная международная англоязычная среда, где дети от трех лет получают дошкольное и школьное образование мирового уровня.
      p Кампус Сокольники находится в районе набережной реки Яузы и парка Сокольники. Новое современное здание оснащено передовым оборудованием и экологичной европейской мебелью.
