-
  var articles = [
    {
      title: 'Топ-12 самых крутых школ в мире',
      text: 'Как учатся дети в школе, которая постоянно переезжает с места на место? Каково учиться в школе приключений на Диком Западе? А что, если вообще отменить в школе расписание уроков или убрать кабинеты? Или, наоборот, выделить каждому ученику по кабинету? А если разрешить детям рисовать на стенах и раскурочивать технику? Такие школы действительно существуют!',
      image: './img/demo/articles/1.jpg',
    },
    {
      title: 'Какие предметы изучают в английских школах',
      text: 'Чему учат в британских школах, выпускники которых пополняют ряды Оксфорда, Кембриджа и других элитных вузов? Почему в английских школах физика, химия и биология — это один предмет? Обязательно ли учить латынь, философию и искусствоведение? Что это за учебные дисциплины – «гражданство» и «карьера»? И вообще, что надо учить в школе, чтобы поступить в британский вуз?',
      image: './img/demo/articles/2.jpg',
    },
    {
      title: 'Система высшего образования в Великобритании',
      text: 'Поступать в высшие учебные заведения Великобритании приезжает молодёжь со всего мира. Что же нужно знать будущим абитуриентам и их родителям? Как выбрать вуз, что говорят рейтинги и как вообще устроена система высшего образования на Туманном Альбионе? Сколько длится обучение, по каким программам? И какой диплом в итоге получит студент?',
      image: './img/demo/articles/3.jpg',
    }
  ]

+section('s-blog-articles', '', true, false)
  .s-blog-articles__list
    each item in articles
      a.s-blog-articles__item(href="")
        .s-blog-articles__item-overlay
        img.s-blog-articles__item-image(src=item.image, alt="")
        .s-blog-articles__item-content
          .s-blog-articles__item-title.font-xl.font-medium=item.title
          .s-blog-articles__item-text.font-m.font-light=item.text

  +button('s-blog-articles__button', 'light-grey', 'link', 'Читать далее')
