-
  const galleryDemo = [
    { image: 'demo/gallery/1'},
    { image: 'demo/gallery/2'},
    { image: 'demo/gallery/3'},
    { image: 'demo/gallery/4'},
    { image: 'demo/gallery/1'},
  ]

.m-product-gallery-thumb.swiper-container(thumbsSlider)
  .swiper-wrapper
    each slide in galleryDemo
      .swiper-slide.m-product-gallery-thumb__slide
        .m-product-gallery-thumb__item
          picture
            source(data-srcset="./img/" + slide.image + ".webp" type="image/webp")
            source(data-srcset="./img/" + slide.image + ".jpg" type="image/jpg")
            img(data-src="./img/" + slide.image + ".jpg", alt= title class="lazy")

.m-product-gallery-slider.swiper-container
  .swiper-wrapper
    each slide in galleryDemo
      a.swiper-slide.m-product-gallery-slider__slide(href="./img/" + slide.image + ".jpeg" data-fancybox="gallery")
        .m-product-gallery-slider__item
          picture
            source(data-srcset="./img/" + slide.image + ".webp" type="image/webp")
            source(data-srcset="./img/" + slide.image + ".jpg" type="image/jpg")
            img(data-src="./img/" + slide.image + ".jpeg", alt= title class="lazy")
  .m-section-slider__controls
    .m-section-slider__button.m-section-slider__button-prev.m-product-gallery__button-prev
      +svgMono('ic-arrow-left')
    .swiper-pagination.m-product-gallery__pagination
    .m-section-slider__button.m-section-slider__button-next.m-product-gallery__button-next
      +svgMono('ic-arrow-right')