.a-button {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: rem(40);
  min-width: rem(40);
  padding: 0 rem(10);
  border: 0;
  gap: rem(4);
  flex-direction: row;
  transition-duration: 0.4s;

  @media (min-width: 1024px) {
    height: rem(50);
    min-width: rem(50);
    padding: 0 rem(14);
    gap: rem(7);
  }

  &__label {
    text-transform: uppercase;
    color: var(--color-light-grey);
  }

  &:disabled {
    &__label,
    &__icon svg {
      opacity: 0.3;
    }
  }

  &--black {
    background-color: var(--color-black);

    &:hover {
      background-color: var(--color-dark-grey);
    }

    &:disabled {
      background-color: var(--color-disabled-grey);
    }

    .ico {
      fill: var(--color-white);
    }
  }

  &--light-grey {
    background-color: var(--color-middle-grey);

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      background-color: var(--color-disabled-grey);
    }

    .a-button__label {
      color: var(--color-black);
    }

    &__icon svg {
      fill: var(--color-black);
    }
  }

  &--white {
    background-color: var(--color-white);

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      background-color: var(--color-disabled-grey);
    }

    .a-button__label {
      color: var(--color-black);
    }

    &__icon svg {
      fill: var(--color-black);
    }
  }
}
