+section('s-share-block', '', false, true)
  h3.s-share-block__title.font-xl.font-medium Понравилась статья, поделитесь ей у себя в соцсетях
  .s-share-block__list
    a.s-share-block__link(href="", target="_blank", rel="noopener")
      +svgMono('ic-whatsapp')
    a.s-share-block__link(href="", target="_blank", rel="noopener")
      +svgMono('ic-telegram')

