.l {
  &-container {
    width: auto;
    margin: 0 rem(20);

    @media (min-width: 768px) {
      margin: 0 rem(30);
    }

    @media (min-width: 1024px) {
      margin: 0 rem(40);
    }

    @media (min-width: 1920px) {
      width: 100%;
      max-width: rem(1620);
      margin: 0 auto;
    }
  }

  &-page {
    display: flex;
    flex-direction: column;
  }

  &-wrapper {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &-main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
  }
}
